<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let instruction of instructions">
      <img mat-list-avatar [src]="instruction.imgHref" alt="Desc 1">
      <div mat-line>
        <a [routerLink]="['/instruction',instruction._id]" class="instruction-title">{{instruction.name}}</a>
      </div>

      <p mat-line *ngIf="!isNeedDateField">
        <span>{{instruction.description}}</span>
      </p>

      <p mat-line *ngIf="isNeedDateField">
        <span>{{instruction.lastEdited}}</span>
      </p>

      <rating [(ngModel)]="instruction.score" mat-line
              [float]="true"
              [readonly]="true"
              [titles]="['one', 'two', 'three', 'four', 'five']">
      </rating>
    </mat-list-item>
  </mat-list>
</mat-card>
