<section class="instruction-container">

    <form [formGroup]="instructionForm" (submit)="postInstruction()">
        <section class="instruction-description">
            <div class="instruction_img">
                <!--<file-drop headertext="Drop image here" (onFileDrop)="dropped($event)"-->
                <!--(onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" *ngIf="!url">-->
                <!--</file-drop>-->

                <input-file
                        placeholder="Pictures"
                        formControlName="imageInstruction">
                </input-file>

                <!--<img *ngIf="url" [src]="url" class="img">-->
            </div>

            <div class="info">
                <mat-form-field class="info-item">
                    <input matInput placeholder="{{'USER_PAGE.TITLE'|translate}}" formControlName="title">
                </mat-form-field>

                <mat-form-field class="info-item">
                    <textarea matInput placeholder="{{'USER_PAGE.DESCRIPTION'|translate}}" autosize
                              formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field class="info-item">
                    <mat-select placeholder="{{'USER_PAGE.THEME'|translate}}" formControlName="theme">
                        <mat-option [value]="option.value" *ngFor="let option of themes">{{option.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </section>

        <tag-input class="tag-input" formControlName="tags" placeholder="{{'USER_PAGE.TAG'|translate}}">
            <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="tags">
            </tag-input-dropdown>
        </tag-input>


        <span class="steps-title">{{'USER_PAGE.STEPS'|translate}}</span>

        <section class="steps-container">
            <div class="step" *ngFor="let step of instructionForm.get('steps').controls;let i = index"
                 formArrayName="steps">

                <div [formGroupName]="i" class="step-item">
                    <span class="number-item">{{i + 1}}:</span>
                    <div class="step-values">
                        <mat-form-field class="step-item">
                            <input matInput placeholder="{{'USER_PAGE.TITLE_STEP'|translate}}"
                                   formControlName="stepTitle">
                        </mat-form-field>

                        <mat-form-field class="step-item">
                            <textarea matInput placeholder="{{'USER_PAGE.DESCRIPTION_STEP'|translate}}" autosize
                                      formControlName="descriptionTitle"></textarea>
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </section>

        <section class="action-container">

            <div>
                <button mat-fab color="primary" type="button" (click)="addStep()">
                    <mat-icon>plus_one</mat-icon>
                </button>
                <button mat-fab color="warn" type="button" (click)="deleteStep()">
                    <mat-icon>exposure_neg_1</mat-icon>
                </button>
            </div>

            <!--<button mat-stroked-button color="primary" class="post-btn"-->
                    <!--[disabled]="instructionForm.invalid">{{'USER_PAGE.POST'|translate}}</button>-->
            <button mat-stroked-button color="primary" class="post-btn">{{'USER_PAGE.POST'|translate}}</button>
        </section>


    </form>
</section>
