<!--<span>Landing page</span>-->
<!--<input type="file" (change)="upload($event)" accept=".png,.jpg" />-->


<form class="search-form">
    <mat-form-field class="search-field">
        <input type="text" placeholder="{{'LANDING_PAGE.SEARCH'|translate}}" aria-label="Number" matInput
               [matAutocomplete]="auto" #searchBox>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [routerLink]="['/instruction',option._id]">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<!--<div>-->
<!--<angular-tag-cloud-->
<!--[data]="data" style="margin: 0 auto;">-->
<!--</angular-tag-cloud>-->
<!--</div>-->

<app-tags></app-tags>


<h2>Top instructions:</h2>


<!--<drag-scroll style="height: 500px;" [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">-->
<!--<mat-card class="example-card" *ngFor="let instruction of topInstructions"-->
<!--style="margin-left: 30px;" drag-scroll-item>-->
<!--<mat-card-header>-->
<!--<mat-card-subtitle>{{instruction.name}}</mat-card-subtitle>-->
<!--</mat-card-header>-->

<!--<img mat-card-image [src]="instructtagion.imgHref" [alt]="instruction.name">-->
<!--<mat-card-actions>-->
<!--<rating [(ngModel)]="instruction.score"-->
<!--[float]="true"-->
<!--[titles]="['one', 'two', 'three', 'four', 'five']">-->
<!--</rating>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->

<!--</drag-scroll>-->


<mat-card>
    <mat-list>
        <mat-list-item *ngFor="let instruction of topInstructions">
            <img mat-list-avatar [src]="instruction.imgHref" alt="Desc 1">
            <div mat-line>
                <a [routerLink]="['/instruction',instruction._id]" class="instruction-title">{{instruction.name}}</a>
            </div>

            <p mat-line>
                <span>{{instruction.description}}</span>
            </p>

            <rating [(ngModel)]="instruction.score" mat-line
                    [float]="true"
                    [readonly]="true"
                    [titles]="['one', 'two', 'three', 'four', 'five']">
            </rating>
        </mat-list-item>
    </mat-list>
</mat-card>


<h2>Latest updated instructions:</h2>


<mat-card>
    <mat-list>
        <mat-list-item *ngFor="let instruction of topInstructions">
            <img mat-list-avatar [src]="instruction.imgHref" alt="Desc 1">
            <h3 mat-line>{{instruction.name}}</h3>
            <p mat-line>
                <a [routerLink]="['/instruction',instruction._id]" class="instruction-title">{{instruction.name}}</a>
            </p>

            <rating [(ngModel)]="instruction.score" mat-line
                    [float]="true"
                    [readonly]="true"
                    [titles]="['one', 'two', 'three', 'four', 'five']">
            </rating>
        </mat-list-item>
    </mat-list>
</mat-card>


<a [routerLink]="['/user/5c69afac0385f31f2081914c']" mat-button class="navigation-btn">User</a>
<a [routerLink]="['/admin/5c69afac0385f31f2081914c']" mat-button class="navigation-btn">Admin</a>

