<div [ngClass]="{'dark-theme': isDarkTheme | async}">
    <div class="mat-app-background" fxLayout="column" fxFlexFill>
        <mat-toolbar color="primary">
            <mat-toolbar-row class="toolbar-container">
                <span [routerLink]="['/']">{{'LANDING_PAGE.TITLE'|translate}}</span>
                <span class="spacer"></span>

                <button mat-button [matMenuTriggerFor]="menu"
                        *ngIf="isAuthenticated">{{'LANDING_PAGE.MENU'|translate}}</button>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item [routerLink]="['/user/'+ userID]">
                        <mat-icon>account_circle</mat-icon>
                        <span>{{'LANDING_PAGE.PROFILE'|translate}}</span>
                    </button>

                    <button mat-menu-item [routerLink]="['/admin/'+ userID]" *ngIf="isAdmin">
                        <mat-icon>account_box</mat-icon>
                        <span>{{'LANDING_PAGE.ADMIN'|translate}}</span>
                    </button>

                    <button mat-menu-item (click)="logout()">
                        <mat-icon>input</mat-icon>
                        <span>{{'LANDING_PAGE.LOG_OUT'|translate}}</span>
                    </button>

                </mat-menu>


                <a [routerLink]="['/login']" mat-button class="navigation-btn"
                   *ngIf="!isAuthenticated">{{'LANDING_PAGE.SIGN_IN_BTN'|translate}}</a>
                <a [routerLink]="['/registration']" mat-button class="navigation-btn sign_up_btn"
                   *ngIf="!isAuthenticated">{{'LANDING_PAGE.SIGN_UP_BTN'|translate}}</a>

                <button mat-icon-button [routerLink]="['/settings']">
                    <mat-icon aria-label="settings">settings</mat-icon>
                </button>

            </mat-toolbar-row>
        </mat-toolbar>


        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
