.container {
    width: 70%;
    margin: 20px auto;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-item {
    padding: 0 14px;
}

.navigation-btn {
    /*width: 100px;*/
}

.sign_up_btn {
    border: 1px solid white;
}

.toolbar-container {
    width: 70%;
    margin: 0 auto;
}

@media only screen and (max-device-width: 600px){
    .container {
        width: 90%;
    }

    .toolbar-container {
        width: 100%;
    }
}

.title {
    color: inherit;
    outline: none;
    text-decoration: none;
}
