.example-card {
    width: 20%;
    max-width: 300px;
    min-width: 100px;
    margin-top: 20px;
}

.instruction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.search-form {
    width: 30%;
    margin: 0 auto;
}

.search-field {
    width: 100%;
}
