<section class="container" *ngIf="isLoaded">

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'USER_PAGE.FILTER'|translate}}">
    </mat-form-field>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <section *ngIf="column !== 'activity'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </section>

                <section *ngIf="column === 'activity'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                    <td mat-cell *matCellDef="let element">

                        <div class="action-container">
                            <button mat-stroked-button color="warn" (click)="deleteInstruction($event,element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <!--<button mat-stroked-button color="primary" (click)="goToInstruction($event,element)">-->
                            <button mat-stroked-button color="primary" [routerLink]="['/instruction',element._id]">
                                <mat-icon>label</mat-icon>
                            </button>
                        </div>
                    </td>
                </section>

            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                         [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <app-instruction [instruction]="element" [themes]="themes" [tags]="tags"></app-instruction>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


    <!--<rating  [(ngModel)]="2.1"-->
    <!--[float]="true"-->
    <!--[titles]="['one', 'two', 'three', 'four', 'five']">-->
    <!--</rating>-->

</section>

<div class="spinner" *ngIf="!isLoaded">
    <mat-spinner></mat-spinner>
</div>

